body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#222039)), url("../img/joyspring-images/mountainWide.png");
  background-image: linear-gradient(to bottom, transparent, #222039), url("../img/joyspring-images/mountainWide.png");
  background-size: auto 50%;
  background-position-x: center;
  background-repeat: repeat-x;
  background-color: #222039;
}

header {
  background-color: #fff4e880;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header div:last-child a {
  color: #222039;
}

footer {
  background-color: #222039;
}

#top > img {
  display: block;
  margin: calc(50vh - 20vw) auto 0;
  width: 55%;
}

@media only screen and (max-width: 670px) {
  #top > img {
    width: 320px;
    margin-top: 35vh;
  }
}

#top .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  line-height: 24px;
}

#top .text em {
  font-weight: bold;
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  #top .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#top .text ul {
  list-style-type: disc;
}

#top .text ul li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 900px) {
  #top .text ul {
    margin-left: 30px;
  }
}

#top .text > div {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top .text a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  padding: 8px 26px 8px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#top .text a:first-child {
  background-color: #FA5C5C;
}

#top .text a:first-child:hover {
  background-color: #FA5C5CA0;
}

#top .text a:last-child {
  background-color: #000000;
}

#top .text a:last-child:hover {
  background-color: #000000A0;
}

#top .text a img {
  height: 36px;
  margin-right: 13px;
}

#top .text p, #top .text ul {
  width: 33%;
}

#top .text p, #top .text ul, #top .text div {
  padding: 60px;
  font-size: 18px;
  color: white;
}

@media only screen and (max-width: 900px) {
  #top .text p, #top .text ul, #top .text div {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  #top .text p, #top .text ul, #top .text div {
    padding: 30px 30px;
    width: 90%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

#top .images {
  padding-bottom: 15px;
}

#top .images div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#top .images img {
  height: 435px;
  margin: 20px 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 850px) {
  #top .images img {
    height: unset;
  }
}

@media only screen and (max-width: 650px) {
  #top .images img {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

#bottom {
  background-color: #222039;
  padding: 160px 0;
}

#bottom h2 {
  font-family: 'Manrope', sans-serif;
  margin-left: 9.3%;
  font-size: 48px;
  line-height: 66px;
  color: white;
}

footer {
  height: unset;
  margin-top: 0px;
  padding-bottom: 30px;
}

footer img {
  position: static;
}
/*# sourceMappingURL=projects.css.map */